@import "tailwindcss";

:root {
  --gra0: 45deg;
  --gra1: 90deg;
}

.gradient {
  background-image: linear-gradient(
      var(--gra0),
      rgba(207, 120, 38, 0.1),
      rgba(223, 27, 125, 0.1)
    ),
    linear-gradient(
      var(--gra1),
      rgba(18, 115, 241, 0.1),
      rgba(27, 207, 223, 0.1)
    );
}
.barcode {
  overflow: hidden;
  @apply h-[6mm];
}
.barcode > svg {
  @apply w-[63mm] h-auto;
}